.headerGeral{
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--bc);
}

.headerGeral .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.headerGeral .nav-bar{margin-left: auto}

.headerGeral .nav-bar ul{
    display: flex;
    list-style: none;
    color: var(--fc-paragraphs);
    font-size: var(--fs-paragraphs);
}

.headerGeral .nav-bar ul li{
    padding-left: 10px;
    cursor: pointer;
    z-index: 10;
}