*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

td,
th {
  border:  solid 1px black;
  text-align: center;
  padding: .5rem;
}

a{
    text-decoration: none;
}

label, input label{
    display: block;
    color: var(--bc);
}

button{
    font-family: var(--ff-primary);
    cursor: pointer;
}

:root{
    --bc: #050538;
    --bc-secondary: white;
    --bctr: rgba(5, 5, 56, 0.5);
    --fc-primary: #00968F;
    --fct-primary: rgba(0, 150, 143, 0.5);
    --fc-secondary:#00FFF4;
    --fct-secondary: rgba(0, 255, 244, 0.5);
    --fc-secondary2: #cecccc;
    --fct-secondary2:rgba(206, 204, 204, 0.5);
    --fc-paragraphs: white;
    --fs-paragraphs: 25px;
    --ff-primary: 'Itim';
    --transition: all 0.3s linear;
    --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    --drop-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    --box-shadow2: 10px 10px 10px rgba(206, 204, 204, 0.3);
    --drop-shadow2: 10px 10px 10px rgba(206, 204, 204, 0.5);
}

@media only screen and (min-width: 1380px){
    .bodyIndex{
        background-color: var(--bc-secondary);
        font-family: var(--ff-primary);
        color: var(--bc);
        overflow: hidden;
    }

    hr{
        width: 80%;
        margin-left: 10%;
        color: var(--bc);
    }

    .pageIndex{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .headerIndex{
        width: 100%;
        background-color: var(--bc);
    }

    .headerIndex .logo{
        width: auto;
        height: auto;
        padding: 0;
        float: left;
    }

    .headerIndex .nav-bar{
        width: 100%;
        margin-left: 13rem;
        color: var(--fc-paragraphs);
        font-size: var(--fs-paragraphs);
    }
    
    .headerIndex .nav-bar ul li{
        list-style: none;
        display: block;
        float: left;
        padding: 1rem;
    }

    .headerIndex .nav-bar a{
        color: var(--fc-paragraphs);
        display: block;
        margin-left: 17rem;
        margin-top: 3rem;
    }

    .headerIndex .nav-bar a:hover{
        color: var(--fc-primary);
        display: block;
    }

    .headerIndex .container-modal{
        width: 30%;
        margin-top: 1rem;
        margin-right: 1rem;
        float: right;
    }

    .headerIndex .container-modal .modal-btn{
        width: 130px;
        height: auto;
        margin-left: 2rem;
        padding: .25rem;
        text-align: center;
        border-radius: 20px;
        background-color: var(--fc-primary);
        color: var(--fc-paragraphs);
        float: right;
    }

    .headerIndex .container-modal .modal-btn:hover{
        background-color: var(--bc);
    }

    .headerIndex   .modal-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bctr);
        display: grid;
        place-items: center;
        visibility: hidden;
        z-index: -10;
        transition: var(--transition);
    }

    .headerIndex .open-modal{
        visibility: visible;
        z-index: 10;
    }

    .headerIndex .modal-container{
        width: 50%;
        height: auto;
        background: var(--bc);
        border-radius: 20px;
        display: grid;
        place-items: center;
        position: relative;
        box-shadow: var(--box-shadow2);
    }

    .headerIndex  .modal-container p{
        color: var(--bc-secondary);
        text-align: center;
    }
    
    .headerIndex  .modal-container h2{
        padding: 1.5rem;
        color: var(--bc-secondary);
        text-align: center;
        margin-top: 2px;
    }

    .headerIndex  .modal-container label{
        color: var(--bc-secondary);
    }
    
    .headerIndex  .close-btn{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        background: transparent;
        border-color: transparent;
        color: var(--bc-secondary);
        cursor: pointer;
    }

    .headerIndex  .box-login{
        width: 50%;
        height: 200px;
        border-radius: 1rem;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 2rem;
        font-size: var(--fs-paragraphs);
    }

    .headerIndex  .box-login p{
        width: 100%;
        float: left;
        margin-top: 1rem;
        font-size: 15px;
    }

    .headerIndex  .box-login a{
        color: var(--fc-paragraphs);
        display: flex;
    }

    .headerIndex  .box-login a:hover{
        color: var(--fc-primary);
    }

    .headerIndex  .box-login .formulario .btn-login{
        width: 40%;
        height: auto;
        margin-left: 35%;
        margin-top: 1rem;
        padding: 0.5rem;
        text-align: center;
        border-radius: 20px;
        background-color: var(--fc-primary);
        color: var(--fc-paragraphs)
    }

    .headerIndex  .box-login .formulario form input{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: var(--fct-secondary2);
        background-color: var(--bc);
        color:var(--fc-primary);
        line-height: 2rem;
        font-family: var(--ff-primary);
        margin-bottom: 2%;
    }

    .headerIndex .box-login .formulario form select{
        width: 90%;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: var(--fc-paragraphs);
        padding: 0.5rem;
        line-height: 2rem;
        font-family: var(--ff-primary);
        margin-bottom: 2%;
    }
  
    .headerIndex.box-login .row{
        width: 80%;
        float: left;
        margin-left: 10%;
    }

    .headerIndex .box-login .row .col-12{
        width: 100%;
        float: left;
        margin: auto;
        text-align: left;
       font-size: 12px;
       color: var(--bc);
    }

    .headerIndex .box-login .row .col-12 .check-box{
        float: left;
        width: 10%;
        margin-left: 22%;
    }

    .headerIndex .box-login h1,h2,h3{
        color: var(--bc);
        margin:auto;
        margin-top:1rem;
        text-align: center;
    }

    .headerIndex .formulario{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .headerIndex .box-teste{
        width: 70%;
        height: auto;
        border-radius: 1rem;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 2rem;
        font-size: var(--fs-paragraphs);
    }

    .headerIndex .box-teste p{
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        font-size: 15px;
    }

    .headerIndex .box-teste a{
        color: var(--bc);
        display: flex;
    }

    .headerIndex .box-teste a:hover{
        color: var(--fc-primary);
    }

    .headerIndex  .box-teste .formulario .btn-login{
        width: 25%;
        height: auto;
        margin-left: 35%;
        margin-top: 1rem;
        padding: 0.5rem;
        text-align: center;
        border-radius: 20px;
        background-color: var(--fc-primary);
        color: var(--fc-paragraphs)
    }

    .headerIndex  .box-teste .formulario form input{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: var(--fct-secondary2);
        background-color: var(--bc);
        color: var(--fc-primary);
        line-height: 2rem;
        font-family: var(--ff-primary);
        margin-bottom: 2%;
    }

    .headerIndex .box-teste .formulario form select{
        width: 90%;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: var(--fc-paragraphs);
        padding: 0.5rem;
        line-height: 2rem;
        font-family: var(--ff-primary);
        margin-bottom: 2%;
    }

    .headerIndex .box-teste .row{
        width: 80%;
        float: left;
        margin-left: 10%;
    }

    .headerIndex .box-teste .row .col-12{
        width: 100%;
        float: left;
        margin: auto;
        text-align: left;
        font-size: 12px;
        color: var(--bc);
    }

    .headerIndex .box-teste .row .col-12 .check-box{
        float: left;
        width: 10%;
        margin-left: 22%;
    }

    .headerIndex .box-teste h1,h2,h3{
        color: var(--bc);
        margin:auto;
        margin-top:1rem;
        text-align: center;
    }

    .mainIndex .box1{
        width: 100%;
        height: 300px;
        background-color: var(--fc-paragraphs);
        float: left;
    }

    .mainIndex .box1 .text-box1{
        width: 40%;
        margin-left: 6rem;
        height: 300px;
        float: left;
    }

    .mainIndex .box1 .text-box1 p{
        font-size: var(--fs-paragraphs);
        color: var(--bc);
        padding: 1rem;
        margin-top: 70px;
    }

    .mainIndex .box1  .img-box1{
        float: right;
        width: 50%;
        height: 300px;
        margin-top: 15px;
    }

    .mainIndex .box1 .img-box1 img{
        width: 31%;
        float: right;
        padding: 1rem;
        margin-right: 12rem;
        filter: drop-shadow(var(--drop-shadow));
    }

    .mainIndex .box2{
        width: 100%;
        height: 300px;
        background-color: var(--bc);
        float: left;
    }

    .mainIndex .box2 .img-box2{
        width: 40%;
        height: 300px;
        float: left;
        margin-top: -1rem;
    }

    .mainIndex .box2 .img-box2 img{
        width: 50%;
        height: auto;
        margin-left: 8rem;
        filter: drop-shadow(var(--drop-shadow2));
        padding: 1rem;
    }

    .mainIndex .box2 .text-box2{
        width: 50%;
        float: right;
        margin-right: 8rem;
    }

    .mainIndex .box2 .text-box2 p{
        font-size: var(--fs-paragraphs);
        color: var(--fc-paragraphs);
        padding: 1rem;
        margin-top: 6rem;
        text-align: right;
    }

    .mainIndex .box3{
        width: 100%;
        height: 300px;
        background-color: var(--fc-primary);
        float: left;
    }

    .mainIndex .box3 .text-box3{
        width: 40%;
        margin-left: 6rem;
        height: 300px;
        float: left;
    }

    .mainIndex .box3 .text-box3 p{
        font-size: var(--fs-paragraphs);
        color: var(--fc-paragraphs);
        padding: 1rem;
        margin-top: 50px;
    }

    .mainIndex .box3  .img-box3{
        float: right;
        width: 50%;
        height: 300px;
        margin-top: -33px;
    }

    .mainIndex .box3 .img-box3 img{
        width: 50%;
        float: right;
        padding: 1rem;
        margin-right: 8rem;
        filter: drop-shadow(var(--drop-shadow));
    }

    .mainIndex .box4{
        width: 100%;
        height: 700px;
        background-color: var(--bc-secondary);
        float: left;
    }

    .mainIndex .box4  p{
        font-size: 30px;
        color: var(--bc);
        padding: 1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .mainIndex .box4 .caixas{
        width: 65%;
        height: auto;
        margin: auto;
    }

    .mainIndex .box4 .caixas .caixa{
        width: 200px;
        height: 200px;
        margin: 2rem;
        float: left;
        display: flex;
        flex-direction: column;
        padding: .25rem;
    }

    .mainIndex .box4 .caixas .caixa img{
        width: 60%;
        margin: auto;
        filter: drop-shadow(var(--box-shadow));
    }

    .mainIndex .box4  .caixas .caixa p{
        font-size: 20px;
        color: var(--bc);
        padding: 1rem;
        text-align: center;
        margin-top: 2%;
    }
   
    .mainIndex .box5{
        width: 100%;
        height: 550px;
        background-color: var(--bc);
        float: left;
    }

    .mainIndex .box5 p{
        font-size: 30px;
        color: var(--fc-secondary);
        padding: 1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .mainIndex .box5 .plano{
        width: 25%;
        height: 400px;
        margin-left: 15%;
        padding: 1rem;
        background-color: var(--fct-primary);
        color: var(--fc-paragraphs);
        float: left;
        border-radius: 2%;
    }

    .mainIndex .box5 .plano h2{
        color: var(--fc-paragraphs)
    }

    .mainIndex .box5 .plano p{
        color: var(--fc-secondary);
        text-align: center;
        margin: auto;
        font-size: 15px;
    }

    .mainIndex .box5 .plano .lista{
        width: 50%;
        margin: auto;
    }

   .mainIndex .box5 .plano .lista ul li{
        margin:auto;
        font-size: 20px;
        list-style: none;
    }

    .mainIndex .box5 .plano .btn-login{
        width: 100%;
        height: auto;
        margin-top: 1rem;
        padding: 0.5rem;
        text-align: center;
        border-radius: 20px;
        background-color: var(--fc-primary);
        color: var(--fc-paragraphs)
    }

    .mainIndex .box6{
        width: 100%;
        height: 480px;
        float: left;
        background-color: var(--fc-primary);
    }

    .mainIndex .box6  .ctt{
        font-size: 30px;
        color: var(--bc);
        padding: 1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .mainIndex .box6 .contato{
        width: 25%;
        height: 350px;
        margin-left: 15%;
        padding: 1rem;
        background-color: var(--fct-secondary);
        color: var(--bc);
        float: left;
        border-radius: 2%;
    }

    .mainIndex .box6 .contato .central-suporte{
        width: 70%;
        margin:auto;
        display: flex;
        flex-direction: column;
    }

    .mainIndex .box6 .contato .central-suporte .titulo{
        font-size: var(--fs-paragraphs);
        text-align: center;
    }

    .mainIndex .box6 .contato .central-suporte p{
        font-size: 20px;
        text-align: center;
        padding: .5rem;
    }

    .mainIndex .box6 .contato .central-suporte .btn-login{
        width:100%;
        height: auto;
        margin-top: 1rem;
        margin: auto;
        padding: 0.5rem;
        text-align: center;
        border-radius: 20px;
        background-color: var(--fc-primary);
        color: var(--fc-paragraphs)
    }

    .footerIndex{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footerIndex .rodape{
        background-color: var(--bc);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footerIndex .rodape .sociais{
        font-size: 30px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;  
    }

    .footerIndex .rodape .social{
        width: 200px;
        display: flex;
    }

    .footerIndex .rodape .social li{
        width: 100%;
        list-style: none;
    }
    
    .footerIndex .rodape .social li a{
        color: #fff;
    }

    .footerIndex .rodape .social a:hover{
        color: #00968F;
    }

    .footerIndex .rodape .texto-rodape p, a{
        width: 100%;
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .footerIndex .rodape .texto-rodape a:hover{
        color: var(--fc-primary);
    }
}